extends layout

block header
  link(rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
  script(src="//code.jquery.com/jquery-1.10.2.js")
  script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
  script.
    $(function() {
      $( "#datepicker" ).datepicker();
      $( "#datepicker" ).datepicker("option", "dateFormat", "yy-mm-dd");
    });

block content
  p Поле #[b процент] скидки должно совпадать со скидкой лицензии
  p #[b Количество активаций] -- сколько раз можно использовать (оставить пустым если бесконечно)
  p #[b Дата истечения] -- когда перестанет действовать (оставить пустым, если бессрочно)
  p #[b Описание] ограничено сотней символов
  form(action='/api/promocode/generate', method='POST')
    table
      tr
        td
          label Заголовок
        td
          input(maxlength='15' type='edit', name='title', placeholder='Название промокода')
      tr
        td
          label Процент скидки
        td
          input(type='edit', name='percent', value='20')
      tr
        td
          label Количество активаций
        td
          input(type='edit', name='activations', value='1')
      tr
        td
          label Дата истечения
        td
          input(type='edit', name='expiration', id='datepicker')
      tr
        td
          label Кол-во генерируемых кодов
        td
          input(type='edit', name='count', value='1')
      tr
        td
          label Лицензия
        td
          select(name='license')
            for license in licenses
              option(value="#{license._id}")= license.title
      tr
        td
          label Описание
        td
          textarea(maxlength='100', name='description')
    button(type='submit') Сгенерировать